.text-style {
    font-family: 'Times New Roman', Times, serif;
    color:yellow;
    text-align: center;
    background-color: black;
}
a{
    color: aqua;
    text-align: left;
    
}
table{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    
}
.table-title{
    font-size: 20px;
}
.table-title2{
    font-size: 20px;
    text-align: left;
}
td, p, article{
    color: white;
}
td{
    font-size: 18px;
    padding: 1em;
}
.grid{
    display: inline-block;
}
ul{
    color: black;
}
ul li{
    display: inline;
    padding: 1em;
}
ol{
    color: white;
    padding: .5em;
    text-align: left;
    font-size: 20px;
}
.backgroundpic{
    background-size: cover; 
    border-color: black;
}
.number-page{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(1, 77, 1);
    background-color: red;
    text-align: right;
    width: 1000px;
    height: 800px;
}
footer{
    size: 10px;
    font-family: serif;
    font-style: italic;
    text-align: left;
}
