.text-style {
    font-family: 'Times New Roman', Times, serif;
    color:yellow;
    text-align: center;
    background-color: black;
}
a{
    color: aqua;
    text-align: left;
    
}
table{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    
}
.table-title{
    font-size: 20px
}
td, p, article{
    color: white;
}
td{
    font-size: 18px;
    padding: 1em;
}
.grid{
    display: inline-block;
}
ul{
    color: black;
}
li{
    display: inline-block;
    padding: 1em;
}
.backgroundpic{
    background-size: cover; 
    border-color: black;
}
footer{
    size: 10px;
    font-family: serif;
    font-style: italic;
    text-align: left;
}
